<div class ="podcast-archive-wrapper">
  <div class="podcast-archive>"
  <h2>Podcast Archive</h2>
  <ul>
  {% set foundItems = FALSE %}
  {% for episode in page.collection %}

    {% if episode.header.podcast.audio %}
        {% set striping = cycle(["even", "odd"], loop.index) %}
        {% set foundItems = TRUE %}
        <li class = 'podcast-meta {{ striping }}'>
          <a href="{{ episode.url|absolute_url }}"><h3>{{ episode.title }}</h2></a>
          <p class="date">{{ (episode.header.publish_date ?: episode.header.date)|date(' d M Y ') }}</p>
          <p class="length">Length: {{ ((episode.header.podcast.audio)|first).duration }} </p>
        </li>

    {% endif %}
  {% endfor %}

  {% if foundItems == FALSE %}
    <li><p>No episodes were found</p></li>
  {% endif %}
  </ul>
  </div>
</div>