{% if episodes is defined %}
    {# Using passed in episodes Page collection #}
{% else %}
    {# Generate new episodes Page collection based on page template #}
    {% set target = {'@self.siblings':''} %}
    {% set options = { 
        items: target, 
        'filter': {'type': 'podcast-episode'}, 
        'order': {'by': 'date', 'dir': 'desc'}, 
        'limit': 5 } %}
    {% set episodes = page.collection(options) %}
{% endif %}

<div class="episodes-mini-list">
    <h3>{{ 'PLUGIN_PODCAST.EPISODE_CONTENT.LATEST_EPISODES_IN'|t|e }} {{ page.parent.title }}</h3>
    <ul>
        {% for e in episodes %}
            <li><a href="{{ e.url() }}">{{ e.title }}</a></li>
        {% endfor %}
        {% if (episodes|length > 1) %}
            <li><a href="{{ page.parent.url() }}">{{ 'PLUGIN_PODCAST.WORDS.MORE'|t|e }} >></a></li>
        {% endif %}
    </ul>
</div>