{% extends 'partials/base.html.twig' %}

{% block content %}
    <h1>{{ header.title }}</h1>
    {% if page.parent.name == 'podcast-series.md' %}
        <h2>An episode in the series {{page.parent.title}}</h2>
    {% endif %}
    <h3>Posted {{ header.date|date('Y-m-d')|nicetime(false) }}</h3>
    {{ page.content }}
    {% if page.header.podcast.audio.meta %}
        <p class = "podcast-episode-audio">
            {% if page.header.podcast.audio.remote is null or page.header.podcast.audio.remote is empty %}
               {% set media_url = base_url ~ "/" ~ page.header.podcast.audio.meta.guid %}
            {% else %}
                {% set media_url = page.header.podcast.audio.meta.guid %}
            {% endif %}
            <audio controls="1" alt="episode.title"><source src="{{media_url}}">Your browser does not support the audio tag.</audio>
            <br/><a href ="{{media_url}}">Download Audio</a>
        </p>
    {% endif %}


{% endblock %}