{% extends 'partials/base.html.twig' %}

{% block content %}
    {# Datestamp Fallback Calculation (Published date field -> General date field -> File modified metadata) #}
    {% if (header.publish_date) %}
        {% set episode_datestamp = header.publish_date %}
        {{ dump('Found a published date')}}
    {% elseif (header.date) %}
        {% set episode_datestamp = header.date %}
        {{ dump('Found a date')}}
    {% else %}
        {% set episode_datestamp = page.modified %}
    {% endif %}

<div class="podcast-container">

    <div class="podcast-nav">
        {% include 'partials/breadcrumbs.html.twig'%}
    </div>

    <div class="podcast-flex-wrapper">
        <div class="podcast-flex-child podcast-flex-full">
            <h1>{{ page.title }} {% if (header.podcast.audio.meta.guid) %}<small>({{ header.podcast.audio.meta.duration }})</small>{% endif %}</h1>
            {% if (header.podcast.itunes.subtitle) -%}
                <h2>{{ header.podcast.itunes.subtitle }}</h2>
            {% endif %}
        </div>

        <div class="podcast-flex-child podcast-flex-full">
            {% if (header.podcast.audio.meta.guid) %}
                <div class="podcast-episode-audio">
                    <audio controls="1" alt="{{ episode.title }}"><source src="{{ page.header.podcast.audio.meta.guid }}">{{ 'PLUGIN_PODCAST.EPISODE_CONTENT.WARNING'|t|e }}</audio></br>
                    <a href ="{{ header.podcast.audio.meta.guid }}">{{ 'PLUGIN_PODCAST.EPISODE_CONTENT.DOWNLOAD'|t|e }}</a> | Published {{ episode_datestamp|nicetime(false) }}
                </div>
            {% else %}
                <div><p>No audio for this episode</p></div>
            {% endif %}
        </div>

        <div class="podcast-flex-child podcast-page-content">
            {% if not page.content %}
                <p>{{ 'PLUGIN_PODCAST.EPISODE_CONTENT.EMPTY'|t|e }}</p>
            {% else %}
                <h3>{{ 'PLUGIN_PODCAST.EPISODE_CONTENT.HEADER'|t|e }}</h3>
                {% if(header.podcast.itunes.image) %} {{ page.media[header.podcast.itunes.image].lightbox(600,400).zoomCrop(200,200).html(header.podcast.itunes.image ,'','podcast-content-image')|raw }} {% endif %}
                {{ page.content|raw }}
            {% endif %}
        </div>

        <div class="podcast-flex-child">
            {% include 'partials/podcast_episodes_mini_list.html.twig'%}
        </div>
    </div>

</div>
{% endblock %}