{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}
    <h1>{{ header.title }}</h1>
    <div class="podcast-meta">
        <h2>{{ header.date|truncate(10, true) }}</h2>
        <h2>{{ header.taxonomy.speaker[0] }}</h2>

    </div>

    {% include 'partials/bibleref.html.twig' %}


    {% set podcasts = page.media.audios %}
    {% set podcastFullUrl = {}  %}

    {% for podcast in podcasts  %}
        {% set podcastUrl =  '<source src="' ~ podcast.url ~ '" type="audio/mpeg" />'|absolute_url %}
        {% set podcastFullUrl = podcastFullUrl|merge({ (loop.index0): podcastUrl}) %}

    {% endfor %}

    {# todo: Check if there is a podcast available first. #}
    <audio controls>
    {% for podcast in podcastFullUrl  %}
        {{  podcast }}
    {% endfor %}

    </audio>


{% endblock %}