{% extends 'partials/base.html.twig' %}

{% block content %}
    {% set series = [] %}
    {% set episodes = [] %}
    {% for p in page.collection %}
        {% if p.name == 'podcast-episode.md' %}
            {% set episodes = episodes|merge ({ (p.route):(p)   }) %}
        {% elseif p.name == 'podcast-series.md' %}
            {% set series = series|merge({(p.route) : (p) })  %}
        {% endif %}
    {% endfor %}
    <div>
        <div class = "podcast-channel-header">
            <div class = "podcast-channel-image">
                {% set channel_image = ((header.podcast.itunes.image)|first) %}
                {{ page.media[channel_image.name].cropResize(400, 400).html() }}

            </div>
            <div class = "channel-meta">
                <h1>{{ header.title }}</h1>
                <p class = "owner">by {{ header.podcast.itunes.owner.name}}</p>
                <p class = "description">{{page.header.podcast.description}}</p>
            </div>
            <div class="channel-links">
                <a href="{{self.route}}.rss"><i class="fa fa-music" aria-hidden="true"></i>iTunes</a>

            </div>

        </div>
        {% if (page.content) %}a
        <div class = "channel-content">
            <p>
                {{page.content}}
            </p>
        </div>
        {% endif %}

        {% include 'partials/podcast_episodes_list.html.twig' %}
        {% include 'partials/podcast_series_list.html.twig' %}

    </div>

{% endblock %}

{% block footer %}
{% endblock %}