{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="podcast-container">

    <div class="podcast-nav">
        {% include 'partials/breadcrumbs.html.twig'%}
    </div>

    <div class="podcast-flex-wrapper">
        <div class="podcast-flex-child podcast-flex-full">
            <h1>{{ page.title }}</h1>
            {% if (header.podcast.itunes.subtitle) -%}
                <h2>{{ header.podcast.itunes.subtitle }}</h2
            {% endif %}
        </div>

        <div class="podcast-flex-child podcast-page-content">
            <h3>{{ 'PLUGIN_PODCAST.SERIES_CONTENT.HEADER'|t|e }}</h3>
            {% if(header.series.image) %} {{ page.media[header.series.image].lightbox(600,400).zoomCrop(200,200).html(header.podcast.itunes.image,'','podcast-content-image')|raw }} {% endif %}

            {% if not page.content %}
                <p>{{ 'PLUGIN_PODCAST.EPISODE_CONTENT.EMPTY'|t|e }}</p>
            {% else %}
                {{ page.content|raw }}
            {% endif %}
        </div>

        {% set series = page.collection({ 'items': '@self.siblings', 'order': {'by': 'date', 'dir': 'desc'}} ).ofType('podcast-series') %}
        {% if(series|length > 0) %}
        <div class="podcast-flex-child">
            {% include 'partials/podcast_series_mini_list.html.twig' %}
        </div>
        {% endif %}

        {% set episodes = page.collection({ 'items': '@self.children', 'order': {'by': 'date', 'dir': 'desc'}} ).ofType('podcast-episode') %}
        <div class="podcast-flex-child podcast-flex-full">
             {% include 'partials/podcast_episodes_list.html.twig' %}
        </div>

    </div>

</div>

{% endblock %}